/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center; /* Centre le contenu de l'en-tête */
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; /* Utilisation de flexbox pour disposer les éléments en ligne */
  justify-content: center; /* Centre horizontalement les éléments de la liste */
}

nav ul li {
  margin: 0 15px; /* Espacement entre les onglets */
}

a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px;
  display: inline-block;
}

a:hover {
  background-color: #555; /* Change la couleur de fond au survol */
  border-radius: 4px; /* Ajoute des bords arrondis au survol */
}

/* Styles pour le reste de la page */
main {
  padding: 20px;
  text-align: center;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
}
